/*
	Page/Component : Confernce
	Author : Pankaj Patil
*/

.slideUp{
	position: fixed;
	right: 5%;
	bottom: 5%;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	border: 1px solid $green;
	background: $green;
	color: $white;
	display: none;
	opacity: 0.5;
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
	transition: all 0.3s ease;
	&:hover{
		padding: 10px 15px;	
		opacity: 1;
		text-decoration: none;
		background: $white;
		border: 1px solid $green;
		color: $green;
		transition: all 0.3s ease;
	}
}

.conference-landing{
	min-height: 100vh;
	background: -webkit-linear-gradient($green, $white, $white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($green, $white, $white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($green, $white, $white); /* For Firefox 3.6 to 15 */
    background: linear-gradient($green, $white, $white); /* Standard syntax */
    position: relative;
    .site-logo{
    	position: absolute;
    	font-family: 'Satisfy', cursive;
	    font-weight: bold;
	    color: $white;
	    font-size: 36px;
	    padding: 14px 15px;
	    line-height: 22px;
	    top: 50px;
	    left: 50px;
	    &:hover,
	    &:active,
	    &:focus{
	    	text-decoration: none;
	    }
    }
	.welcome-message{
		text-align: center;
		margin: 125px 0 50px 0;
		h1{
			font-weight: 500;
		    text-shadow: 0 1px 1px $black;
		    color: $black;
		    font-size: 36px;
		    line-height: 48px;
		    font-family: 'Ubuntu', sans-serif;
		}
		p{
			margin-top: 15px;
			margin-bottom: 0;
		    color: $black;
		    font-weight: 400;
		    text-shadow: 0px 1px 0.1px $black;
		    font-size: 30px;
		}

		.action-buttons{
			margin-top: 40px;
			.primary-btn{
				margin-right: 15px;
			}
		}
	}
}

.about-section{
	p {
		color: #7e8a94;
		font-size: 19px;
		line-height: 35px;
		margin-top: 18px;
	}

	.row {
		margin-top: 25px;
	}

	h2.dark {
		color: #36434f;
		font-size: 30px;
	}

	p.green {
		color: #8eb75d;
		font-weight: bold;
	}
}

.speaker-section{


	.speaker{
		padding-top: 50px;
		text-align: center;
		a{
			display: block;
			&:hover,
			&:focus,
			&:active{
				text-decoration: none;
			}
			&[data-toggle="modal"]{
				display: inline-block;
			}
			h2{
				color: $dark-gray;
				font-weight: 600;
	    		line-height: 1.4;
	    		font-size: 24px;
	    		margin: 0;
			}
		}
		.open-pro-modal{
			margin: 15px 0 5px 0;
		}
		img{
			border-radius: 50%;
			border: 3px solid $green;
			height: 130px;
			width: 130px;
		}

		.site-link{
			color: $text-gray;
			transition: all 0.3s ease;
			font-size: 16px;
			&:hover{
				color: $green;
				transition: all 0.3s ease;
			}
		}
	}
}

.price-section{
	.pricing-info{
		text-align: center;
		h3{
			font-weight: bold;
			margin-top: 10px;
		}
	}
	.pricing-details{
		ul{
			margin: 0;
		}
	}
	.price{
		background-color: $light-gray;
	    border-radius: 5px;
	    color: $gray;
	    text-align: left;
	    font-size: 16px;
	    padding: 15px;
	    padding: 15px;
	    margin-top: 40px;
	    margin-bottom: 40px;
	    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	    box-shadow: 0 0 5px rgba(0,0,0,.3);
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	    .p-icon{
	    	background: $green;
	    	width: 15%;
		    font-size: 64px;
		    text-align: center;
		    color: $white;
		    margin: -15px 0 -15px -15px;
	    }
	    .p-type{
	    	padding-left: 15px;
	    	width: 40%;
		    -webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		    flex-grow: 1;
		    color: $text-gray;
		    h6{
		    	margin: 0 0 5px 0;
			    font-size: 16px;
			    color: $black;
			    font-weight: bold;
			    font-family: 'Ubuntu', sans-serif;
		    }
	    }
	    .p-amount{
	    	-webkit-box-flex: 2;
		    -ms-flex-positive: 2;
		    flex-grow: 2;
		    text-align: center;
		    font-weight: 600;
		    font-size: 28px;
		    margin-top: 0;
		    margin-bottom: 0;
		    color: $dark-gray;
		    .p-act-amount{
		    	position: relative;
			    display: block;
			    font-size: 18px;
			    color: $text-gray;
			    &:after{
			    	position: absolute;
			    	content: "";
			    	background: $gray;
		    	    width: 70px;
				    left: 50%;
				    top: 50%;
				    -webkit-transform: translateX(-50%);
				    transform: translateX(-50%) rotate(-15deg);
				    height: 2px;
			    }
		    }
	    }
	    .p-btn{
	    	a{
	    		display: inline-block;
	    		&:hover,
	    		&:active,
	    		&:focus{
	    			text-decoration: none;
	    		}
	    	}
	    }
	}
}

.slack-section{
	background-color: $slackbg;
	background-color: #3e313c;
    background-image: url(../img/slack-large.png);
    background-position: center right;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    padding: 90px 0;
	.conf-header{
		h2{
			color: $white;
		}
	}
	p{
		color: $white;
		line-height: 1.7;
	}
}

.sponsor-section{
	.col-sm-3{
		text-align: center;
		img{
			-webkit-filter: grayscale(1);
			-moz-filter: grayscale(1);
			-o-filter: grayscale(1);
			-ms-filter: grayscale(1);
			filter: grayscale(1);
			transition: all 0.3s ease;
			&:hover{
				-webkit-filter: grayscale(0);
				-moz-filter: grayscale(0);
				-o-filter: grayscale(0);
				-ms-filter: grayscale(0);
				filter: grayscale(0);
				transition: all 0.3s ease;
			}
		}
	}
	.last-row{
		img{
			margin-top: 50px;
		}
	}
	.sponsor-btn{
		margin-top: 75px;
		margin-bottom: 25px;
		a{
			&:hover,
			&:active,
			&:focus{
				text-decoration: none;
			}
		}
	}
}

.faq-section{
	.panel-group{
		.panel{
		    margin-bottom: 15px;
		    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
		    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
		    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
		    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
		    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
		    border-radius: 0;
		    border: none;
		    transition: box-shadow 0.3s;
		    &:hover{
			    -webkit-box-shadow: 0 1px 10px rgba(144, 145, 145, 0.3);
			    -moz-box-shadow: 0 1px 10px rgba(144, 145, 145, 0.3);
			    -o-box-shadow: 0 1px 10px rgba(144, 145, 145, 0.3);
			    -ms-box-shadow: 0 1px 10px rgba(144, 145, 145, 0.3);
		        box-shadow: 0 1px 10px rgba(144, 145, 145, 0.3);
		   		 transition: box-shadow 0.3s;
		    }
			.panel-heading{
		    	border-radius: 0;
		    	padding: 0;
				h4{
					a{
						position: relative;
					    display: block;
					    font-size: 19px;
					    padding: 25px;
					    color: $green;
					    &:hover,
					    &:focus,
					    &:active{
					    	text-decoration: none;
					    }
					}
				}
			}
			.panel-body{
				border-top: 0;
		    	border-radius: 0;
				padding: 25px;
				p{
					font-size: 16px;
					margin: 0;
				}
			}
		}

	}
}



