.fp-modal{
	height: 100vh;
	width: 100%;
	position: fixed;
	left: -100%;
	top: 0;
	background: rgba(255,255,255,0.7);
	padding: 30px 0;
	z-index: 1031;
	transition: all 0.5s ease;
	&.open{
		left: 0;
		transition: all 0.5s ease;
	}
	.fp-modal-backdrop{
		height: 100%;
		width: 100%;
	}
	.close-btn{
		border: 2px solid $logo-blue;
	    color: $logo-blue;
	    padding: 0px 7px;
	    font-size: 24px;
	    font-weight: bold;
	    border-radius: 50%;
	    position: absolute;
	    z-index: 2;
	    top: 15px;
	    right: 15px;
	    background: $white;
	    transition: all 0.3s ease;
	    &:hover{
	    	color: $white;
	    	background: $logo-blue;
	    	transition: all 0.3s ease;
	    }
	}
	.fp-modal-content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background: $white;
		background-image: url("../img/without-text.png");
		max-width: 700px;
		background-position: 50% 60%;
		width: 95%;
		overflow: auto;
		-webkit-box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.75);
		box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.75);
		height: calc(100% - 60px);

		h1{
		    position: absolute;
		    font-size: 24px;
		    max-width: 150px;
		    left: 15px;
		    top: 15px;
		}
		form{
			max-width: 50%;
			padding-top: 160px;
			margin: 0 auto;
			.form-group{
				margin-bottom: 25px;
			}
			input{
				height: 40px;
				border-radius: 0;
				background: rgba(255,255,255,0.9);
				border: 2px solid $black;
				color: $black;
				font-size: 16px;
			}
			textarea{
				resize: none;
				border: 2px solid $black;
				height: 130px;
				background: rgba(255,255,255,0.9);
				color: $black;
				font-size: 16px;
			}
			button{
				height: 40px;
				width: 100%;
				border: 2px solid $black;
				color: $black;
				background: rgba(255,255,255,0.9);
				font-size: 16px;
				transition: all 0.3s ease;
				&:hover{
					background: $logo-orange;
					transition: all 0.3 ease;
				}				
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $black;
			}
			::-moz-placeholder { /* Firefox 19+ */
			  color: $black;
			}
			:-ms-input-placeholder { /* IE 10+ */
			  color: $black;
			}
			:-moz-placeholder { /* Firefox 18- */
			  color: $black;
			}
		}
	}
}